@charset "UTF-8";
/* CSS Document */

body {
	background-color: #0d1321;
}





.main {
	background-color: #748CAB;
	margin-left: 500px;
	margin-right: 500px;
	height: 100%;
	display: grid;

}


.Header{
	background-color:aliceblue;
	height: 50px;
	margin-bottom: 0px;
}


.Footer{
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}






.image-left {
	background-image:url("Images/P1020208 final piece 2 copy.jpg");
	margin-left: 15px;
	margin-right: 7.5px;
	margin-top: 15px;
	height: 570px;
	flex: 1;
	border: 2px black;
}




.Para-Right {
	background-color:#F0EBD8;
	margin-left: 7.5px;
	margin-right: 15px;
	margin-top: 15px;
	height: 570px;
	flex: 1;

}





img {
	width: 100%;
	height: 100%;
}


.Para-Top {
	background-color:#F0EBD8;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
	height: 160px;
}


.Flex-Container {
	display: flex;
	
}





.image-bottom {
	background-image: url("Images/test flower copy.jpg");
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 50px;
	margin-bottom: 20px;
}

img {
	width: 100%;
	height: 100%;
}


p {
	font-family: "Arial";
	font-size: 16px;
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	
}

p2 {
	color: #FFFFFF;
	opacity: 45%

}



h1{
	Font-family: "Arial black";
	font-size: 35px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	
}

h2{
	Font-family: "Arial black";
	font-size: 30;
	margin-top: 5px;
	margin-left: 60px;
	margin-right:0px;
	float: right;
}




h3{
	font-family: "Arial black";
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: 0px;
}









