@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("Images/website_background.gif")
}





.main {
	background-color: #0D1321;
	margin-left: 500px;
	margin-right: 500px;
	height: 100%;
	display: grid;

}


.Header{
	background-color: none;
	height: 50px;
	margin-bottom: 0px;
	text-align: left;
}


.Header ul{
	display:inline-flex;
	list-style: none;
	color: #FFFFFF;
	font-size: 20px;
}


.Header ul li{
	width: 120px;
	margin-left: 15px;
	box-sizing: border-box;
	
}

.Header ul li a{
	text-decoration: none;
	color:#FFFFFF;
	
}



.Header .fa{
	margin-right: 8px;
	
}


.Sub-Menu1{
	z-index: 2;
	display: none;
	
}
.Header ul li:hover .Sub-Menu1{
	display:block;
	position:absolute;
	background-color: #1D2D44;
	margin-top: 0px;
	margin-left: -15px;
	
}

.Header ul li:hover .Sub-Menu1 ul{
	display:block;
	margin: 10px;
	
}

.Header ul li:hover .Sub-Menu1 ul li{
	width: 150;
	padding: 10px;
	border-bottom: 1px dotted #FFFFFF;
	background: transparent;
	border-radious: 0;
	text-align: left;
	
}


.Header ul li:hover .Sub-Menu1 ul li:last-child{
	border-bottom: none
	
}


.Header ul li:hover .Sub-Menu1 ul li a:hover{
	color:#3E5C76
	
}


.Footer{
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}


.image-left {
	background-image:url("Images/P1020208 final piece 2 copy.jpg");
	margin-left: 15px;
	margin-right: 7.5px;
	margin-top: 15px;
	height: 570px;
	flex: 1;
	border: 2px black;
}




.Para-Right {
	background-color:#F0EBD8;
	margin-left: 7.5px;
	margin-right: 15px;
	margin-top: 15px;
	height: 570px;
	flex: 1;

}


img {
	width: 100%;
	height: 100%;
}


.Para-Top {
	background-color:#F0EBD8;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
	height: 160px;
}


.Flex-Container {
	display: flex;
	
}


.image-bottom {
	background-image: url("Images/test flower copy.jpg");
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 50px;
	margin-bottom: 20px;
}

img {
	width: 100%;
	height: 100%;
}


p {
	font-family: "Arial";
	font-size: 16px;
	color: #000000;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	
}

p2 {
	color: #FFFFFF;
	opacity: 45%

}


p3 {
	font-family: "Arial";
	font-size: 16px;
	color:#FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 80%;
}


h1{
	Font-family: "Arial black";
	font-size: 35px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	
}


h2{
	Font-family: "Arial black";
	font-size: 30;
	margin-top: 5px;
	margin-left: 60px;
	margin-right:0px;
	float: right;
}


h3{
	font-family: "Arial black";
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: 0px;
}


h4{
	font-family: "Arial black";
	font-size: 25px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #F0EBD8;
	text-decoration: underline;
	opacity: 80%;
	
}


h5{
	font-family: "Arial";
	font-size: 22px;
	text-align: center;
	margin-top: 15px;
	color: #F0EBD8;
	opacity: 80%;
	
}


H6{
	font-family: "Arial";
	font-size: 22px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	text-decoration: underline;
	color: #F0EBD8;
	opacity: 80%;
}


.Para-Top-Services {
	background-color: none;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
	height: 160px;
}


.Flex-Container-Services-Top {
	display: flex;
}


.Top-Left-Image {
background-image:url("Images/Mexican_Album_02 copy.png");
	width: 30%;
    height: auto;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 30px;
	flex: 1;
	border: 2px black;
	}


.Top-Right-Image {
	background-image:url("Images/IMG_0070 copy.JPG");
	width: 30%;
    height: auto;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 30px;
	flex: 1;
}



.Flex-Container-Services-Top-Paragraph {
	display: flex;
}


.Top-Left-Paragraph {
	Background-color: none;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 15px;
	flex: 1;
	border: 2px black;
}


.Top-Right-Paragraph {
	Background-color: none;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 15px;
	flex: 1;
}



.Flex-Container-Services-Bottom {
	display: flex;
}


.Bottom-Left-Image {
background-image:url("Images/mr robot copy.png");
	width: 30%;
    height: auto;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 30px;
	flex: 1;
	border: 2px black;
	}


.Bottom-Right-Image {
	background-image:url("Images/IMG_0070 copy.JPG");
	width: 30%;
    height: auto;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 30px;
	flex: 1;
}



.Flex-Container-Services-Bottom-Paragraph {
	display: flex;
}


.Bottom-Left-Paragraph {
	Background-color: none;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 40px;
	flex: 1;
	border: 2px black;
}


.Bottom-Right-Paragraph {
	Background-color: none;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: 15px;
	margin-bottom: 40px;
	flex: 1;
}



.Main-Portfolio {
	background-color: #0D1321;
	margin-left: 500px;
	margin-right: 500px;
	height: 100%;
	display: grid;
	
}


.Para-Top-Portfolio {
	background-color: none;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 160px;
}






















